# Ignore everything
**

# Allow files and directories
!/Cargo.toml
!/src/**
!/.cargo-cross-config
!/empty/
!/ssl.tar
!target/x86_64-unknown-linux-musl/release/caramel-client-rs

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
